@model StudentsAffairsDashboard.Models.invoice_payment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>invoice_payment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.remaining)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.remaining)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.invoice_payment2.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.invoice_payment2.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentsMain.StdArabicFristName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentsMain.StdArabicFristName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
