@model StudentsAffairsDashboard.Models.StudentsMain
@{
    ViewBag.Title = "Create";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col-lg-11">
        <div class="card card-primary">
            <div class="form-horizontal">
                <div class="card-header">
                    <h3 class="card-title">Add Student Main Data</h3>
                </div>
                <br />

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="row px-3">
                        <div class="col-md-3">
                            @Html.Label("Student National ID", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.StdNID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StdNID, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.StdSchoolID, "Student School", htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownList("StdSchoolID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.StdSchoolID, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.StdClassID, "Student Class", htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownList("StdClassID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.StdClassID, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.StdNationality, "Student Nationality", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.StdNationality, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StdNationality, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.StdStatus, "Student Status", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.StdStatus, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StdStatus, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.StdJoinYear, "Student Join Year", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.StdJoinYear, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StdJoinYear, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.StdStaffSon, "Student Staff Son", htmlAttributes: new { @class = "control-label" })
                            <div class="form-check">
                                @Html.RadioButtonFor(model => model.StdStaffSon, true)
                                <label class="form-check-label">Yes</label>
                            </div>
                            <div class="form-check">
                                @Html.RadioButtonFor(model => model.StdStaffSon, false)
                                <label class="form-check-label">No</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            @Html.LabelFor(model => model.StdLegalGuardianship, "Student Legal Guardianship", htmlAttributes: new { @class = "control-label" })
                            <div class="form-check">
                                @Html.RadioButtonFor(model => model.StdLegalGuardianship, "Father")
                                <label class="form-check-label">Father</label>
                            </div>
                            <div class="form-check">
                                @Html.RadioButtonFor(model => model.StdLegalGuardianship, "Mother")
                                <label class="form-check-label">Mother</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            @Html.LabelFor(model => model.StdParentsSeparated, "Parents Separated", htmlAttributes: new { @class = "control-label" })
                            <div class="form-check">
                                @Html.RadioButtonFor(model => model.StdParentsSeparated, true)
                                <label class="form-check-label">Yes</label>
                            </div>
                            <div class="form-check">
                                @Html.RadioButtonFor(model => model.StdParentsSeparated, false)
                                <label class="form-check-label">No</label>
                            </div>

                        </div>
                        <div class="col-md-3">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Add New Student" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>

                    @*<div class="form-group">
                            @Html.LabelFor(model => model.StdGradesID, "Student Grade", htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-10">
                                @Html.DropDownList("StdSchoolID", ViewBag.StdGradesID, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.StdClassID, "", new { @class = "text-danger" })
                            </div>
                        </div>*@


                </div>

            </div>
        </div>
    </div>
}

<div class="col-6">
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



@* $("#KG12Boy").change(function () {
        if ($('#KG12Boy').is(":checked")) {
            //$('#Quantity_1').val(1)
            //$('#Quantity_2').val(1)
            //$('#Quantity_3').val(0)
            //$('#Quantity_4').val(1)
            //$('#Quantity_5').val(1)
            //$('#Quantity_6').val(1)
            //$('#Quantity_7').val(1)

            //$('#Quantity_9').val(0)
            //$('#Quantity_10').val(0)
            //$('#Quantity_11').val(0)
            //$('#Quantity_13').val(0)
            //$('#Quantity_14').val(0)
            //$('#Quantity_15').val(0)

            //$('#CheckBox_1').prop("checked", true)
            //$('#CheckBox_2').prop("checked", true)
            //$('#CheckBox_3').prop("checked", false)
            //$('#CheckBox_4').prop("checked", true)
            //$('#CheckBox_5').prop("checked", true)
            //$('#CheckBox_6').prop("checked", true)
            //$('#CheckBox_7').prop("checked", true)

            //$('#CheckBox_9').prop("checked", false)
            //$('#CheckBox_10').prop("checked", false)
            //$('#CheckBox_11').prop("checked", false)
            //$('#CheckBox_13').prop("checked", false)
            //$('#CheckBox_14').prop("checked", false)
            //$('#CheckBox_15').prop("checked", false)

            $("#KG12Boy").prop("checked", true)
            $('#Grade16Boy').prop("checked", false)
            $('#Grade79Boy').prop("checked", false)
            $('#Grade1012Boy').prop("checked", false)

            $("#KG12Girl").prop("checked", false)
            $('#Grade16Girl').prop("checked", false)
            $('#Grade79Girl').prop("checked", false)
            $('#Grade1012Girl').prop("checked", false)

            total += $('#P_KG12Boy').val()
            $('#total').text(total)
        }
    });

    $("#KG12Girl").change(function () {
        if ($('#KG12Girl').is(":checked")) {
            $('#Quantity_1').val(1)
            $('#Quantity_2').val(1)
            $('#Quantity_3').val(1)
            $('#Quantity_4').val(0)
            $('#Quantity_5').val(1)
            $('#Quantity_6').val(1)
            $('#Quantity_7').val(1)

            $('#Quantity_9').val(0)
            $('#Quantity_10').val(0)
            $('#Quantity_11').val(0)
            $('#Quantity_13').val(0)
            $('#Quantity_14').val(0)
            $('#Quantity_15').val(0)

            $('#CheckBox_1').prop("checked", true)
            $('#CheckBox_2').prop("checked", true)
            $('#CheckBox_3').prop("checked", true)
            $('#CheckBox_4').prop("checked", false)
            $('#CheckBox_5').prop("checked", true)
            $('#CheckBox_6').prop("checked", true)
            $('#CheckBox_7').prop("checked", true)

            $('#CheckBox_9').prop("checked", false)
            $('#CheckBox_10').prop("checked", false)
            $('#CheckBox_11').prop("checked", false)
            $('#CheckBox_13').prop("checked", false)
            $('#CheckBox_14').prop("checked", false)
            $('#CheckBox_15').prop("checked", false)

            $("#KG12Boy").prop("checked", false)
            $('#Grade16Boy').prop("checked", false)
            $('#Grade79Boy').prop("checked", false)
            $('#Grade1012Boy').prop("checked", false)

            $("#KG12Girl").prop("checked", true)
            $('#Grade16Girl').prop("checked", false)
            $('#Grade79Girl').prop("checked", false)
            $('#Grade1012Girl').prop("checked", false)

            CalcTotal()
        } else {
            $('.c-item').val(0)
            total = 0
            $('#total').text(total)
        }
    });

    $("#Grade16Boy").change(function () {
        if ($('#Grade16Boy').is(":checked")) {
            $('#Quantity_1').val(1)
            $('#Quantity_2').val(1)
            $('#Quantity_3').val(0)
            $('#Quantity_4').val(1)
            $('#Quantity_5').val(1)
            $('#Quantity_6').val(1)
            $('#Quantity_7').val(1)

            $('#Quantity_9').val(0)
            $('#Quantity_10').val(0)
            $('#Quantity_11').val(0)
            $('#Quantity_13').val(0)
            $('#Quantity_14').val(0)
            $('#Quantity_15').val(0)

            $('#CheckBox_1').prop("checked", true)
            $('#CheckBox_2').prop("checked", true)
            $('#CheckBox_3').prop("checked", false)
            $('#CheckBox_4').prop("checked", true)
            $('#CheckBox_5').prop("checked", true)
            $('#CheckBox_6').prop("checked", true)
            $('#CheckBox_7').prop("checked", true)

            $('#CheckBox_9').prop("checked", false)
            $('#CheckBox_10').prop("checked", false)
            $('#CheckBox_11').prop("checked", false)
            $('#CheckBox_13').prop("checked", false)
            $('#CheckBox_14').prop("checked", false)
            $('#CheckBox_15').prop("checked", false)

            $("#KG12Boy").prop("checked", false)
            $('#Grade16Boy').prop("checked", true)
            $('#Grade79Boy').prop("checked", false)
            $('#Grade1012Boy').prop("checked", false)

            $("#KG12Girl").prop("checked", false)
            $('#Grade16Girl').prop("checked", false)
            $('#Grade79Girl').prop("checked", false)
            $('#Grade1012Girl').prop("checked", false)

            CalcTotal()
        } else {
            $('.c-item').val(0)
            total = 0
            $('#total').text(total)
        }
    });

    $("#Grade16Girl").change(function () {
        if ($('#Grade16Girl').is(":checked")) {
            $('#Quantity_1').val(1)
            $('#Quantity_2').val(1)
            $('#Quantity_3').val(1)
            $('#Quantity_4').val(0)
            $('#Quantity_5').val(1)
            $('#Quantity_6').val(1)
            $('#Quantity_7').val(1)

            $('#Quantity_9').val(0)
            $('#Quantity_10').val(0)
            $('#Quantity_11').val(0)
            $('#Quantity_13').val(0)
            $('#Quantity_14').val(0)
            $('#Quantity_15').val(0)

            $('#CheckBox_1').prop("checked", true)
            $('#CheckBox_2').prop("checked", true)
            $('#CheckBox_3').prop("checked", true)
            $('#CheckBox_4').prop("checked", false)
            $('#CheckBox_5').prop("checked", true)
            $('#CheckBox_6').prop("checked", true)
            $('#CheckBox_7').prop("checked", true)

            $('#CheckBox_9').prop("checked", false)
            $('#CheckBox_10').prop("checked", false)
            $('#CheckBox_11').prop("checked", false)
            $('#CheckBox_13').prop("checked", false)
            $('#CheckBox_14').prop("checked", false)
            $('#CheckBox_15').prop("checked", false)

            $("#KG12Boy").prop("checked", false)
            $('#Grade16Boy').prop("checked", false)
            $('#Grade79Boy').prop("checked", false)
            $('#Grade1012Boy').prop("checked", false)

            $("#KG12Girl").prop("checked", false)
            $('#Grade16Girl').prop("checked", true)
            $('#Grade79Girl').prop("checked", false)
            $('#Grade1012Girl').prop("checked", false)

            CalcTotal()
        } else {
            $('.c-item').val(0)
            total = 0
            $('#total').text(total)
        }
    });

    $("#Grade79Boy").change(function () {
        if ($('#Grade79Boy').is(":checked")) {
            $('#Quantity_1').val(0)
            $('#Quantity_2').val(0)
            $('#Quantity_3').val(0)
            $('#Quantity_4').val(0)
            $('#Quantity_5').val(0)
            $('#Quantity_6').val(0)
            $('#Quantity_7').val(0)

            $('#Quantity_9').val(1)
            $('#Quantity_10').val(1)
            $('#Quantity_11').val(1)
            $('#Quantity_13').val(1)
            $('#Quantity_14').val(1)
            $('#Quantity_15').val(1)

            $('#CheckBox_1').prop("checked", false)
            $('#CheckBox_2').prop("checked", false)
            $('#CheckBox_3').prop("checked", false)
            $('#CheckBox_4').prop("checked", false)
            $('#CheckBox_5').prop("checked", false)
            $('#CheckBox_6').prop("checked", false)
            $('#CheckBox_7').prop("checked", false)

            $('#CheckBox_9').prop("checked", true)
            $('#CheckBox_10').prop("checked", true)
            $('#CheckBox_11').prop("checked", true)
            $('#CheckBox_13').prop("checked", true)
            $('#CheckBox_14').prop("checked", true)
            $('#CheckBox_15').prop("checked", true)

            $("#KG12Boy").prop("checked", false)
            $('#Grade16Boy').prop("checked", false)
            $('#Grade79Boy').prop("checked", true)
            $('#Grade1012Boy').prop("checked", false)

            $("#KG12Girl").prop("checked", false)
            $('#Grade16Girl').prop("checked", false)
            $('#Grade79Girl').prop("checked", false)
            $('#Grade1012Girl').prop("checked", false)

            CalcTotal()
        } else {
            $('.c-item').val(0)
            total = 0
            $('#total').text(total)
        }
    });

    $("#Grade79Girl").change(function () {
        if ($('#Grade79Girl').is(":checked")) {
            $('#Quantity_1').val(0)
            $('#Quantity_2').val(0)
            $('#Quantity_3').val(0)
            $('#Quantity_4').val(0)
            $('#Quantity_5').val(0)
            $('#Quantity_6').val(0)
            $('#Quantity_7').val(0)

            $('#Quantity_9').val(1)
            $('#Quantity_10').val(1)
            $('#Quantity_11').val(1)
            $('#Quantity_13').val(1)
            $('#Quantity_14').val(1)
            $('#Quantity_15').val(1)

            $('#CheckBox_1').prop("checked", false)
            $('#CheckBox_2').prop("checked", false)
            $('#CheckBox_3').prop("checked", false)
            $('#CheckBox_4').prop("checked", false)
            $('#CheckBox_5').prop("checked", false)
            $('#CheckBox_6').prop("checked", false)
            $('#CheckBox_7').prop("checked", false)

            $('#CheckBox_9').prop("checked", true)
            $('#CheckBox_10').prop("checked", true)
            $('#CheckBox_11').prop("checked", true)
            $('#CheckBox_13').prop("checked", true)
            $('#CheckBox_14').prop("checked", true)
            $('#CheckBox_15').prop("checked", true)

            $("#KG12Boy").prop("checked", false)
            $('#Grade16Boy').prop("checked", false)
            $('#Grade79Boy').prop("checked", false)
            $('#Grade1012Boy').prop("checked", false)

            $("#KG12Girl").prop("checked", false)
            $('#Grade16Girl').prop("checked", false)
            $('#Grade79Girl').prop("checked", true)
            $('#Grade1012Girl').prop("checked", false)

            CalcTotal()
        } else {
            $('.c-item').val(0)
            total = 0
            $('#total').text(total)
        }
    });

    $("#Grade1012Boy").change(function () {
        if ($('#Grade1012Boy').is(":checked")) {
            $('#Quantity_1').val(0)
            $('#Quantity_2').val(0)
            $('#Quantity_3').val(0)
            $('#Quantity_4').val(0)
            $('#Quantity_5').val(0)
            $('#Quantity_6').val(0)
            $('#Quantity_7').val(0)

            $('#Quantity_9').val(1)
            $('#Quantity_10').val(1)
            $('#Quantity_11').val(1)
            $('#Quantity_13').val(1)
            $('#Quantity_14').val(1)
            $('#Quantity_15').val(1)

            $('#CheckBox_1').prop("checked", false)
            $('#CheckBox_2').prop("checked", false)
            $('#CheckBox_3').prop("checked", false)
            $('#CheckBox_4').prop("checked", false)
            $('#CheckBox_5').prop("checked", false)
            $('#CheckBox_6').prop("checked", false)
            $('#CheckBox_7').prop("checked", false)

            $('#CheckBox_9').prop("checked", true)
            $('#CheckBox_10').prop("checked", true)
            $('#CheckBox_11').prop("checked", true)
            $('#CheckBox_13').prop("checked", true)
            $('#CheckBox_14').prop("checked", true)
            $('#CheckBox_15').prop("checked", true)

            $("#KG12Boy").prop("checked", false)
            $('#Grade16Boy').prop("checked", false)
            $('#Grade79Boy').prop("checked", false)
            $('#Grade1012Boy').prop("checked", true)

            $("#KG12Girl").prop("checked", false)
            $('#Grade16Girl').prop("checked", false)
            $('#Grade79Girl').prop("checked", false)
            $('#Grade1012Girl').prop("checked", false)

            CalcTotal()
        } else {
            $('.c-item').val(0)
            total = 0
            $('#total').text(total)
        }
    });

    $("#Grade1012Girl").change(function () {
        if ($('#Grade1012Girl').is(":checked")) {
            $('#Quantity_1').val(0)
            $('#Quantity_2').val(0)
            $('#Quantity_3').val(0)
            $('#Quantity_4').val(0)
            $('#Quantity_5').val(0)
            $('#Quantity_6').val(0)
            $('#Quantity_7').val(0)

            $('#Quantity_9').val(1)
            $('#Quantity_10').val(1)
            $('#Quantity_11').val(1)
            $('#Quantity_13').val(1)
            $('#Quantity_14').val(1)
            $('#Quantity_15').val(1)

            $('#CheckBox_1').prop("checked", false)
            $('#CheckBox_2').prop("checked", false)
            $('#CheckBox_3').prop("checked", false)
            $('#CheckBox_4').prop("checked", false)
            $('#CheckBox_5').prop("checked", false)
            $('#CheckBox_6').prop("checked", false)
            $('#CheckBox_7').prop("checked", false)

            $('#CheckBox_9').prop("checked", true)
            $('#CheckBox_10').prop("checked", true)
            $('#CheckBox_11').prop("checked", true)
            $('#CheckBox_13').prop("checked", true)
            $('#CheckBox_14').prop("checked", true)
            $('#CheckBox_15').prop("checked", true)

            $("#KG12Boy").prop("checked", false)
            $('#Grade16Boy').prop("checked", false)
            $('#Grade79Boy').prop("checked", false)
            $('#Grade1012Boy').prop("checked", false)

            $("#KG12Girl").prop("checked", false)
            $('#Grade16Girl').prop("checked", false)
            $('#Grade79Girl').prop("checked", false)
            $('#Grade1012Girl').prop("checked", true)

            CalcTotal()
        } else {
            $('.c-item').val(0)
            total = 0
            $('#total').text(total)
        }
    }); *@