@model StudentsAffairsDashboard.Models.NESSchool

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NESSchool</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SchoolName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchooleAbbreviation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchooleAbbreviation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SchoolID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
