@model StudentsAffairsDashboard.Models.Cloth

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cloth</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClothesName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClothesName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClothesPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClothesPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClothesID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
