@model IEnumerable<StudentsAffairsDashboard.Models.Cloth>

@{
    ViewBag.Title = "Create";
}

<section>
    <div class="container">
        <div class="col-lg-12">
            <div class="card card-primary">
                <div class="form-horizontal">
                    <div class="card-header">
                        <h3 class="card-title">Student Data</h3>
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="row">
                            <input type="hidden" id="StdCode" value="@Html.Display("StdCode")">
                            <div class="custom-control custom-checkbox pb-3 col-6">
                                <h4><b>Full Name : @Html.Display("StdName")</b></h4>
                            </div>
                            <div class="custom-control custom-checkbox pb-3 col-2">
                                <h4><b>@Html.Display("StdSchool")</b></h4>
                            </div>
                            <div class="custom-control custom-checkbox pb-3 col-2">
                                <h4><b>@Html.Display("StdGrade")</b></h4>
                            </div>
                            <div class="custom-control custom-checkbox pb-3 col-2">
                                <h4><b>@Html.Display("StdClass")</b></h4>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <form id="Uniform">
            <div class="row w-100">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="row text-center">
                        <div class="custom-control custom-checkbox pb-3 col-3">
                            <input type="checkbox" id="FullPackgeKGBoy" class="custom-control-input">
                            <label class="custom-control-label" for="FullPackgeKGBoy"><b>Full Packge KG Boy</b></label>
                        </div>
                        <div class="custom-control custom-checkbox pb-3 col-3">
                            <input type="checkbox" id="FullPackgeKGGirl" class="custom-control-input">
                            <label class="custom-control-label" for="FullPackgeKGGirl"><b>Full Packge KG Girl</b></label>
                        </div>
                        <div class="custom-control custom-checkbox pb-3 col-3">
                            <input type="checkbox" id="FullPackgeGradeBoy" class="custom-control-input">
                            <label class="custom-control-label" for="FullPackgeGradeBoy"><b>Full Packge Grade Boy</b></label>
                        </div>
                        <div class="custom-control custom-checkbox pb-3 col-3">
                            <input type="checkbox" id="FullPackgeGradeGirl" class="custom-control-input">
                            <label class="custom-control-label" for="FullPackgeGradeGirl"><b>Full Packge Grade Girl</b></label>
                        </div>
                    </div>


                    <table id="shoppingCart" class="table table-condensed table-responsive">
                        <thead>
                            <tr>
                                <th style="width:5%"> #</th>
                                <th style="width:60%">Item</th>
                                <th style="width:20%">Price</th>
                                <th style="width:10%">Quantity</th>
                            </tr>
                        </thead>
                        <tbody id="data">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td data-th="Checks">
                                        <div class="col-md-9 text-left mt-sm-2">
                                            <div class="custom-control custom-checkbox pb-3">
                                                <input type="checkbox" id="CheckBox_@Html.DisplayFor(modelItem => item.ClothesID)" class="custom-control-input c-items">
                                                <label class="custom-control-label" for="CheckBox_@Html.DisplayFor(modelItem => item.ClothesID)"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td data-th="Product">
                                        <div class="row">
                                            <div class="col-md-9 text-left mt-sm-2">
                                                <h4>@Html.DisplayFor(modelItem => item.ClothesName)</h4>
                                            </div>
                                        </div>
                                    </td>
                                    <td data-th="Price">
                                        <div class="col-md-9 text-left mt-sm-2">
                                            <input type="hidden" id="Price_@item.ClothesID" value="@item.ClothesPrice">
                                            <h4><span id="Price_@Html.DisplayFor(modelItem => item.ClothesID)">@Html.DisplayFor(modelItem => item.ClothesPrice)</span> EGP</h4>
                                        </div>
                                    </td>
                                    <td data-th="Quantity">
                                        <input type="number" id="Quantity_@item.ClothesID" name="Quantity_@item.ClothesID"
                                               class="form-control form-control-lg text-center c-item" value="0" min="0" onchange="CalcTotal()">
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                    <div class="float-right text-right">
                        <p class="h2">Total <br> <b id="total"></b> EGP</p>
                    </div>
                </div>
            </div>
            <div class="row mt-4 d-flex align-items-center">
                <div class="col-sm-6 order-md-2 text-right">
                    <input type="submit" value="Complete" id="btnsubmit" class="btn btn-primary mb-4 pl-5 pr-5" />
                </div>
                <div class="col-sm-6 mb-3 mb-m-1 order-md-1 text-md-left">
                    <a href="catalog.html">
                        <i class="fas fa-arrow-left mr-2"></i> @Html.ActionLink("Back to List", "Index" , "StudentClothes")
                    </a>
                </div>
            </div>
        </form>
            @if (ViewBag.Message != null)
            {
                <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
                </script>
            }
        </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var total = 0

        $(document).ready(function () {
            $(".c-items").change(function () {
                total = 0
                CalcTotal2()
            })
            $("#FullPackgeKGBoy").change(function () {
                if ($('#FullPackgeKGBoy').is(":checked")) {
                    $('#Quantity_1').val(0)
                    $('#Quantity_2').val(0)
                    $('#Quantity_3').val(0)
                    $('#Quantity_4').val(1)
                    $('#Quantity_5').val(1)
                    $('#Quantity_6').val(1)
                    $('#Quantity_7').val(1)
                    $('#Quantity_9').val(1)
                    $('#Quantity_10').val(1)

                    $('#CheckBox_1').prop("checked", false)
                    $('#CheckBox_2').prop("checked", false)
                    $('#CheckBox_3').prop("checked", false)
                    $('#CheckBox_4').prop("checked", true)
                    $('#CheckBox_5').prop("checked", true)
                    $('#CheckBox_6').prop("checked", true)
                    $('#CheckBox_7').prop("checked", true)
                    $('#CheckBox_9').prop("checked", true)
                    $('#CheckBox_10').prop("checked", true)

                    $('#FullPackgeKGGirl').prop("checked", false)
                    $('#FullPackgeGradeBoy').prop("checked", false)
                    $('#FullPackgeGradeGirl').prop("checked", false)

                    CalcTotal()
                } else {
                    $('.c-item').val(0)
                    total = 0
                    $('#total').text(total)
                }
            });
            $("#FullPackgeKGGirl").change(function () {
                if ($('#FullPackgeKGGirl').is(":checked")) {
                    $('#Quantity_1').val(1)
                    $('#Quantity_2').val(1)
                    $('#Quantity_3').val(0)
                    $('#Quantity_4').val(0)
                    $('#Quantity_5').val(0)
                    $('#Quantity_6').val(1)
                    $('#Quantity_7').val(1)
                    $('#Quantity_9').val(1)
                    $('#Quantity_10').val(1)

                    $('#CheckBox_1').prop("checked", true)
                    $('#CheckBox_2').prop("checked", true)
                    $('#CheckBox_3').prop("checked", false)
                    $('#CheckBox_4').prop("checked", false)
                    $('#CheckBox_5').prop("checked", false)
                    $('#CheckBox_6').prop("checked", true)
                    $('#CheckBox_7').prop("checked", true)
                    $('#CheckBox_9').prop("checked", true)
                    $('#CheckBox_10').prop("checked", true)

                    $('#FullPackgeKGBoy').prop("checked", false)
                    $('#FullPackgeGradeBoy').prop("checked", false)
                    $('#FullPackgeGradeGirl').prop("checked", false)

                    CalcTotal()
                } else {
                    $('.c-item').val(0)
                    total = 0
                    $('#total').text(total)
                }
            });
            $("#FullPackgeGradeBoy").change(function () {
                if ($('#FullPackgeGradeBoy').is(":checked")) {
                    $('#Quantity_1').val(0)
                    $('#Quantity_2').val(0)
                    $('#Quantity_3').val(0)
                    $('#Quantity_4').val(1)
                    $('#Quantity_5').val(1)
                    $('#Quantity_6').val(1)
                    $('#Quantity_7').val(1)
                    $('#Quantity_9').val(1)
                    $('#Quantity_10').val(1)

                    $('#CheckBox_1').prop("checked", false)
                    $('#CheckBox_2').prop("checked", false)
                    $('#CheckBox_3').prop("checked", false)
                    $('#CheckBox_4').prop("checked", true)
                    $('#CheckBox_5').prop("checked", true)
                    $('#CheckBox_6').prop("checked", true)
                    $('#CheckBox_7').prop("checked", true)
                    $('#CheckBox_9').prop("checked", true)
                    $('#CheckBox_10').prop("checked", true)

                    $('#FullPackgeKGBoy').prop("checked", false)
                    $('#FullPackgeKGGirl').prop("checked", false)
                    $('#FullPackgeGradeGirl').prop("checked", false)

                    CalcTotal()
                } else {
                    $('.c-item').val(0)
                    total = 0
                    $('#total').text(total)
                }
            });
            $("#FullPackgeGradeGirl").change(function () {
                if ($('#FullPackgeGradeGirl').is(":checked")) {
                    $('#Quantity_1').val(0)
                    $('#Quantity_2').val(0)
                    $('#Quantity_3').val(1)
                    $('#Quantity_4').val(0)
                    $('#Quantity_5').val(1)
                    $('#Quantity_6').val(1)
                    $('#Quantity_7').val(1)
                    $('#Quantity_9').val(1)
                    $('#Quantity_10').val(1)

                    $('#CheckBox_1').prop("checked", false)
                    $('#CheckBox_2').prop("checked", false)
                    $('#CheckBox_3').prop("checked", true)
                    $('#CheckBox_4').prop("checked", false)
                    $('#CheckBox_5').prop("checked", true)
                    $('#CheckBox_6').prop("checked", true)
                    $('#CheckBox_7').prop("checked", true)
                    $('#CheckBox_9').prop("checked", true)
                    $('#CheckBox_10').prop("checked", true)

                    $('#FullPackgeKGBoy').prop("checked", false)
                    $('#FullPackgeKGGirl').prop("checked", false)
                    $('#FullPackgeGradeBoy').prop("checked", false)

                    CalcTotal()
                } else {
                    $('.c-item').val(0)
                    total = 0
                    $('#total').text(total)
                }
            });



        })

        function CalcTotal() {
            for (var i = 1; i < 20; i++) {
                if ($('#CheckBox_' + i).is(":checked")) {
                    total = total + (parseInt($('#Price_' + i).val()) * parseInt($('#Quantity_' + i).val()))
                    console.log(total)
                }
            }
            $('#total').text(total)
            total = 0
        }
        function CalcTotal2() {
            for (var i = 1; i < 20; i++) {
                if ($('#CheckBox_' + i).is(":checked")) {
                    $('#Quantity_' + i).val(1)
                } else {
                    $('#Quantity_' + i).val(0)
                }
            }
            CalcTotal()
        }

        $(document).ready(function () {
            $("#btnsubmit").click(function (e) {
                //Serialize the form datas.   
                var valdata = $("#Uniform").serialize();
                var StdCode = $("#StdCode").val();
                //to get alert popup   
                $.ajax({
                    url: "/StudentClothes/UpdateItems",
                    type: "POST",
                    dataType: 'json',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    data: {
                        searchText: valdata,
                        Code: StdCode
                    },
                    success: function () {
                        window.location.href = "/StudentClothes/Index";
                    }
                });
            });
        });   
    </script>
}
