@model IEnumerable<StudentsAffairsDashboard.Models.invoice_payment>

<div class="card card-widget widget-user-2 shadow-sm">
    <!-- Add the bg color to the header using any of the bg-* classes -->
    <div class="widget-user-header bg-gradient-blue">
        <div class="widget-user-image">
            @*<img class="img-circle elevation-2" src="~/Logos/@(Session["CurrentSchool"].ToString()+".png")" alt="User Avatar">*@
        </div>
        <!-- /.widget-user-image -->
        <h3 class="widget-user-username">@Html.Display("StdName")</h3>
        <h5 class="widget-user-desc">NES @Html.Display("StdSchool") - @Html.Display("StdGrade") - @Html.Display("StdClass")</h5>
    </div>
    <div class="card-footer p-1">
        <div class="row">

            <div class="col-2" style="width: 115px; height: 20px;">
                Invoices
            </div>
            <div class="col-1 text-center" style="width: 115px; height: 20px;">
                Total
            </div>
            <div class="col-1 text-center" style="width: 115px; height: 20px;">
                Paid
            </div>
            <div class="col-1 text-center" style="width: 115px; height: 20px;">
                Remining
            </div>
            <div class="col-2 text-center" style="width: 115px; height: 20px;">
                Invoice Details
            </div>
            <div class="col-2 text-center" style="width: 115px; height: 20px;">
                Invoice Print
            </div>
            <div class="col-2 text-center" style="width: 115px; height: 20px;">
                @if (Session["UserName"].ToString().Contains("Admin NES"))
                {
                    <p>Delete Invoice</p>
                }
            </div>
        </div>
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-2" style="width: 115px; height: 20px;">
                    
                    @if (item.SeqID != null)
                    {
                        <h6>@Html.Display("SchoolCambridge")-@item.SeqID </h6>
                    }
                    else
                    {
                       <h6>Invoice @item.id </h6>
                    }
                </div>

                <div class="col-1  text-center" style="width: 115px; height: 20px;">
                    <h6><span class="badge bg-black">@item.total_cost</span></h6>
                </div>

                <div class="col-1  text-center" style="width: 115px; height: 20px;">
                    <h6><span class="badge bg-success">@item.paid</span></h6>
                </div>
                <div class="col-1  text-center" style="width: 115px; height: 20px;">
                    <h6><span class="badge bg-danger">@item.remaining</span></h6>
                </div>
                <div class="col-2  text-center" style="width: 115px; height: 20px;">
                    @foreach (var itemm in item.payment_details)
                    {
                        if (itemm.type == 5)
                        {
                            <h6><span class="badge">@itemm.name</span></h6>
                        }
                    }
                </div>
                <div class="col-2  text-center" style="width: 115px; height: 20px;">
                    @if (item.payment_details.FirstOrDefault().type == 5)
                    {
                        <a href="~/Reports/Report.aspx?invoice=@item.id" class="badge badge-primary"><i class="glyphicon glyphicon-trash"></i>Print Receipt</a>
                    }
                    else
                    {
                        <a href="~/Reports/Payment.aspx?invoice=@item.id" class="badge badge-primary"><i class="glyphicon glyphicon-trash"></i>Print Receipt</a>
                    }
                </div>
                <div class="col-2  text-center" style="width: 115px; height: 20px;">
                     @if (Session["UserName"].ToString().Contains("Admin NES")) { 
                         <a href="#" class="badge badge-danger" onclick="ConfirmDelete2(@item.student,@item.id)"><i class="glyphicon glyphicon-trash"></i>Delete</a>
                    }
                </div>
            </div>
        }
    </div>
</div>

<div>
    <p>Total Reminig <br> <b id="total">@Html.Display("TotalReminig")</b> EGP</p>
</div>

<div class="modal fade" id="modal-danger">
    @using (Html.BeginForm("DeleteInvoice", "StudentClothes", FormMethod.Post))
    {
        <div class="modal-dialog">
            <div class="modal-content bg-danger">
                <div class="modal-header">
                    <h4 class="modal-title">Invoice Delete</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are You Sure To Delete This Student (Invoice Uniform)</p>
                    @*hidden field for storing current employeeId*@
                    <input type="hidden" id="hiddenId" name="hiddenId" />
                    <input type="hidden" id="invoiceId" name="invoiceId" />
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-light">Delete</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    }
</div>

@section scripts{
    <script>
        var ConfirmDelete2 = function (EmployeeId, EmployeeId2) {
            $("#hiddenId").val(EmployeeId);
            $("#invoiceId").val(EmployeeId2);
            $("#modal-danger").modal('show');
    }
    </script>
    }