@model IEnumerable<StudentsAffairsDashboard.Models.StudentClothe>

<div class="card card-widget widget-user-2 shadow-sm">
    <!-- Add the bg color to the header using any of the bg-* classes -->
    <div class="widget-user-header bg-gradient-blue">
        <div class="widget-user-image">
            @*<img class="img-circle elevation-2" src="~/Logos/@(Session["CurrentSchool"].ToString()+".png")" alt="User Avatar">*@
        </div>
        <!-- /.widget-user-image -->
        <h3 class="widget-user-username">@Html.Display("StdName")</h3>
        <h5 class="widget-user-desc">NES @Html.Display("StdSchool") - @Html.Display("StdGrade") - @Html.Display("StdClass")</h5>
    </div>
    <div class="card-footer p-1">
        <div class="row">
            <div class="col-3  text-center" style="width: 115px; height: 20px;">
                <h6><span class="badge bg-warning">Receiving Quantity</span></h6>
            </div>
            <div class="col-3 text-center" style="width: 115px; height: 20px;">
                <h6> <span class="text-center badge bg-success">All Quantity</span> </h6>
            </div>

            <div class="col-6" style="width: 115px; height: 20px; text-align: right;">
                #
            </div>
        </div>
        @foreach (var item in Model)
        {
            if (Int32.Parse(item.ReceivingQuantity.ToString()) == Int32.Parse(item.Quantity.ToString()))
            {
                <div class="row">
                    <div class="col-3  text-center" style="width: 115px; height: 20px;">
                        <h6><span class="badge bg-success">@item.ReceivingQuantity.Trim()</span></h6>
                    </div>

                    <div class="col-3  text-center" style="width: 115px; height: 20px;">
                        <h6> <span class="text-center badge bg-success">@item.Quantity</span> </h6>
                    </div>

                    <div class="col-6" style="width: 115px; height: 20px; text-align: right;">
                        <h6>@Html.DisplayFor(modelItem => item.Cloth.ClothesName) </h6>
                    </div>
                </div>
            }
            if (Int32.Parse(item.ReceivingQuantity.ToString()) < Int32.Parse(item.Quantity.ToString()) && Int32.Parse(item.ReceivingQuantity.ToString()) != 0)
            {
                <div class="row">
                    <div class="col-3  text-center" style="width: 115px; height: 20px;">
                        <h6><span class="badge bg-warning">@item.ReceivingQuantity.Trim()</span></h6>
                    </div>

                    <div class="col-3  text-center" style="width: 115px; height: 20px;">
                        <h6> <span class="text-center badge bg-black">@item.Quantity</span> </h6>
                    </div>

                    <div class="col-6" style="width: 115px; height: 20px; text-align: right;">
                        <h6>@Html.DisplayFor(modelItem => item.Cloth.ClothesName) </h6>
                    </div>
                </div>
            }
            if (Int32.Parse(item.ReceivingQuantity.ToString()) == 0)
            {
                <div class="row">
                    <div class="col-3  text-center" style="width: 115px; height: 20px;">
                        <h6><span class="badge bg-black">@item.ReceivingQuantity.Trim()</span></h6>
                    </div>

                    <div class="col-3  text-center" style="width: 115px; height: 20px;">
                        <h6> <span class="text-center badge bg-danger">@item.Quantity</span> </h6>
                    </div>

                    <div class="col-6" style="width: 115px; height: 20px; text-align: right;">
                        <h6>@Html.DisplayFor(modelItem => item.Cloth.ClothesName) </h6>
                    </div>
                </div>
            }
        }
    </div>
</div>


<div>
    <p>Total <br> <b id="total">@Html.Display("Total")</b> EGP</p>
</div>