@model IEnumerable<StudentsAffairsDashboard.Models.invoice_payment>

<div class="card card-widget widget-user-2 shadow-sm">
    <!-- Add the bg color to the header using any of the bg-* classes -->
    <div class="widget-user-header bg-gradient-blue">
        <div class="widget-user-image">
            @*<img class="img-circle elevation-2" src="~/Logos/@(Session["CurrentSchool"].ToString()+".png")" alt="User Avatar">*@
        </div>
        <!-- /.widget-user-image -->
        <h3 class="widget-user-username">@Html.Display("StdName")</h3>
        <h5 class="widget-user-desc">NES @Html.Display("StdSchool") - @Html.Display("StdGrade") - @Html.Display("StdClass")</h5>
    </div>
    <div class="card-footer p-1">
        <div class="row">

            <div class="col-2" style="width: 115px; height: 20px;">
                Invoices
            </div>
            <div class="col-2 text-center" style="width: 115px; height: 20px;">
                Total
            </div>
            <div class="col-2 text-center" style="width: 115px; height: 20px;">
                Paid
            </div>
            <div class="col-2 text-center" style="width: 115px; height: 20px;">
                Remining
            </div>
            <div class="col-2 text-center" style="width: 115px; height: 20px;">
                Invoice Details
            </div>
            <div class="col-2 text-center" style="width: 115px; height: 20px;">
                Invoice Print
            </div>
        </div>
        @foreach (var item in Model)
        {
            @*if (Int32.Parse(item.ReceivingQuantity.ToString()) == Int32.Parse(item.Quantity.ToString()))
                {
                    <div class="row">
                        <div class="col-3  text-center" style="width: 115px; height: 20px;">
                            <h6><span class="badge bg-success">@item.ReceivingQuantity.Trim()</span></h6>
                        </div>

                        <div class="col-3  text-center" style="width: 115px; height: 20px;">
                            <h6> <span class="text-center badge bg-success">@item.Quantity</span> </h6>
                        </div>

                        <div class="col-6" style="width: 115px; height: 20px;">
                            <h6>@Html.DisplayFor(modelItem => item.Cloth.ClothesName) </h6>
                        </div>
                    </div>
                }
                if (Int32.Parse(item.ReceivingQuantity.ToString()) < Int32.Parse(item.Quantity.ToString()) && Int32.Parse(item.ReceivingQuantity.ToString()) != 0)
                {
                    <div class="row">
                        <div class="col-3  text-center" style="width: 115px; height: 20px;">
                            <h6><span class="badge bg-warning">@item.ReceivingQuantity.Trim()</span></h6>
                        </div>

                        <div class="col-3  text-center" style="width: 115px; height: 20px;">
                            <h6> <span class="text-center badge bg-black">@item.Quantity</span> </h6>
                        </div>

                        <div class="col-6" style="width: 115px; height: 20px;">
                            <h6>@Html.DisplayFor(modelItem => item.Cloth.ClothesName) </h6>
                        </div>
                    </div>
                }
                if (Int32.Parse(item.ReceivingQuantity.ToString()) == 0)
                {
                    <div class="row">
                        <div class="col-3  text-center" style="width: 115px; height: 20px;">
                            <h6><span class="badge bg-black">@item.ReceivingQuantity.Trim()</span></h6>
                        </div>

                        <div class="col-3  text-center" style="width: 115px; height: 20px;">
                            <h6> <span class="text-center badge bg-danger">@item.Quantity</span> </h6>
                        </div>

                        <div class="col-6" style="width: 115px; height: 20px;">
                            <h6>@Html.DisplayFor(modelItem => item.Cloth.ClothesName) </h6>
                        </div>
                    </div>
                }*@
            <div class="row">
                <div class="col-2" style="width: 115px; height: 20px;">
                    <h6>Invoce No-@Html.DisplayFor(modelItem => item.id) </h6>
                </div>

                <div class="col-2  text-center" style="width: 115px; height: 20px;">
                    <h6><span class="badge bg-black">@item.total_cost</span></h6>
                </div>

                <div class="col-2  text-center" style="width: 115px; height: 20px;">
                    <h6><span class="badge bg-success">@item.paid</span></h6>
                </div>
                <div class="col-2  text-center" style="width: 115px; height: 20px;">
                    <h6><span class="badge bg-danger">@item.remaining</span></h6>
                </div>
                <div class="col-2  text-center" style="width: 115px; height: 20px;">
                    @foreach (var itemm in item.payment_details)
                    {
                        <h6><span class="badge">@itemm.name</span></h6>
                    }
                </div>
                <div class="col-2  text-center" style="width: 115px; height: 20px;">
                    @foreach (var itemm in item.payment_details)
                    {
                        <a href="~/Reports/Report.aspx?invoice=@item.id" class="badge badge-primary"><i class="glyphicon glyphicon-trash"></i>Print Receipt</a>
                    }
                </div>
            </div>
        }
    </div>
</div>

    <div>
        <p>Total Reminig <br> <b id="total">@Html.Display("TotalReminig")</b> EGP</p>
    </div>

