@model IEnumerable<StudentsAffairsDashboard.Models.StudentsMain>

<!-- Main content -->
<section class="content">
    <div class="card">
        <form id="FillterData">
            <div class="col-lg-12">
                <div class="card card-primary">
                    <div class="form-horizontal">
                        <div class="card-header">
                            <h3 class="card-title">Filter</h3>
                        </div>
                        <br />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="row">
                                <div class="col-1">
                                </div>
                                <div class="custom-control custom-checkbox pb-3 col-2">
                                    <input type="checkbox" id="1" name="first installment" class="custom-control-input">
                                    <label class="custom-control-label" for="1">First installment</label>
                                </div>
                                <div class="custom-control custom-checkbox pb-3 col-2">
                                    <input type="checkbox" id="3" name="Resorce" class="custom-control-input">
                                    <label class="custom-control-label" for="3">Resorce</label>
                                </div>
                                <div class="custom-control custom-checkbox pb-3 col-2">
                                    <input type="checkbox" id="4" name="Activity" class="custom-control-input">
                                    <label class="custom-control-label" for="4">Activity</label>
                                </div>
                                <div class="custom-control custom-checkbox pb-3 col-2">
                                    <input type="checkbox" id="2" name="2nd installment" class="custom-control-input">
                                    <label class="custom-control-label" for="2">2nd installment</label>
                                </div>
                                <div class="custom-control custom-checkbox pb-3 col-2">
                                    <input type="checkbox" id="5" name="Uniform" class="custom-control-input">
                                    <label class="custom-control-label" for="5">Uniform</label>
                                </div>
                                <div class="col-1">
                                </div>

                                <div class="col-1">
                                </div>
                                <div class="col-2">
                                    <label>Select Grade</label>
                                </div>
                                <div class="col-2">
                                    <label>Year</label>
                                </div>
                                <div class="col-2">
                                    <label>From</label>
                                </div>
                                <div class="col-2">
                                    <label>To</label>
                                </div>
                                <div class="col-3">

                                </div>

                                <div class="col-1">
                                </div>
                                <div class="col-2 d-flex align-items-center justify-content-center">
                                    @Html.DropDownList("GradeID", null, htmlAttributes: new { @class = "form-control" })
                                </div>
                                <div class="col-2">
                                    @Html.DropDownList("Year", new List<SelectListItem>()
                                            {
                                                new SelectListItem {  Text = "2014",Value = "2014"},
                                                new SelectListItem {  Text = "2015",Value = "2014"},
                                                new SelectListItem {  Text = "2016",Value = "2016"},
                                                new SelectListItem {  Text = "2017",Value = "2017"},
                                                new SelectListItem {  Text = "2018",Value = "2018"},
                                                new SelectListItem {  Text = "2019",Value = "2019"},
                                                new SelectListItem {  Text = "2020",Value = "2020"},
                                                new SelectListItem {  Text = "2021",Value = "2021"},
                                                new SelectListItem {  Text = "2022",Value = "2022"},
                                                new SelectListItem {  Text = "2023",Value = "2023"},
                                                new SelectListItem {  Text = "2024",Value = "2024"},
                                                new SelectListItem {  Text = "2025",Value = "2025"},
                                                new SelectListItem {  Text = "2026",Value = "2026"},
                                                new SelectListItem {  Text = "2027",Value = "2027"},
                                                new SelectListItem {  Text = "2028",Value = "2028"},
                                                new SelectListItem {  Text = "2029",Value = "2029"},
                                                new SelectListItem {  Text = "2030",Value = "2030"},
                                            }, htmlAttributes: new { @class = "form-control", required = "required" })
                                </div>
                                <div class="col-2">
                                    @Html.Editor("From", new { htmlAttributes = new { @class = "form-control", type = "date", required = "required" } })
                                </div>
                                <div class="col-2">
                                    @Html.Editor("To", new { htmlAttributes = new { @class = "form-control", type = "date", required = "required" } })
                                </div>


                            </div>
                            <div class="row mt-2 d-flex align-items-center px-3">
                                <div class="col-sm-12 order-md-2 text-right">
                                    <input type="submit" id="btnSearch" value="Search" class="btn btn-primary mb-4 pl-5 pr-5" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Uniform</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th hidden></th>
                        <th style="width: 10%">ID</th>
                        <th style="width: 25%">Full Name</th>
                        <th style="text-align: center; vertical-align: middle;">Grade</th>
                        <th style="text-align: center; vertical-align: middle;">Uniforms Status</th>
                        <th style="text-align: center; vertical-align: middle;">Invoces Status</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td hidden>@Html.DisplayFor(modelItem => item.StdCode)</td>
                            <td style="text-align: center; vertical-align: middle;">@Html.DisplayFor(modelItem => item.StdNID)</td>
                            <td style="vertical-align: middle;">
                                <a>
                                    @Html.DisplayFor(modelItem => item.StdEnglishFristName) @Html.DisplayFor(modelItem => item.StdEnglishMiddleName) @Html.DisplayFor(modelItem => item.StdEnglishLastName) @Html.DisplayFor(modelItem => item.StdEnglishFamilyName)
                                </a>
                                <br />
                                <small>
                                    NES @Html.DisplayFor(modelItem => item.NESSchool.SchoolName) @item.StudentGradesHistories.Select(a => a.Grade.GradeName).LastOrDefault()  @Html.DisplayFor(modelItem => item.Class.ClassName) (@item.StudentGradesHistories.Select(a => a.KindBatch).LastOrDefault())
                                </small>
                            </td>
                            <td style="text-align: center; vertical-align: middle;">
                                <a>
                                    @item.StudentGradesHistories.Select(a => a.Grade.GradeName).LastOrDefault().Replace(" ", "")
                                </a>
                            </td>
                            <td style="text-align: center; vertical-align: middle;">

                                @if (item.StudentClothes.Where(a => a.StudentsMain.StdCode == item.StdCode).ToList().Count != 0 && item.StudentClothes.Where(a => a.StudentsMain.StdCode == item.StdCode).ToList().All(a => a.PaymentStatus == "True"))
                                {

                                    <span class="badge badge-success">Paid</span>
                                }
                                else
                                {
                                    <span class="badge badge-danger">NOT Paid</span>
                                }
                                <br />
                                @if (item.StudentClothes.Where(a => a.StudentsMain.StdCode == item.StdCode).ToList().Count != 0 && item.StudentClothes.Where(a => a.StudentsMain.StdCode == item.StdCode).ToList().All(a => a.ReceivingStatus == "True"))
                                {
                                    <span class="badge badge-success">Received</span>
                                }
                                else
                                {
                                    <span class="badge badge-danger">NOT Received</span>
                                }
                                <br />
                                <a href="javascript:;" class="badge badge-primary details"><i class="glyphicon glyphicon-trash"></i>Show Uniform Status</a>
                                <br />
                                @*<a href="~/Reports/Report.aspx?student=@item.StdCode" class="badge badge-primary"><i class="glyphicon glyphicon-trash"></i>Print Receipt</a>*@

                            </td>
                            <td style="text-align: center; vertical-align: middle;">
                                <a href="javascript:;" class="badge badge-secondary details2"><i class="glyphicon glyphicon-trash"></i>Show Invoices Status</a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th hidden></th>
                        <th style="width: 10%">ID</th>
                        <th style="width: 25%">Full Name</th>
                        <th style="text-align: center; vertical-align: middle;">Grade</th>
                        <th style="text-align: center; vertical-align: middle;">Uniforms Status</th>
                        <th style="text-align: center; vertical-align: middle;">Invoces Status</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>

<div class="modal fade" id="partialModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Uniform Data For Student</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<div class="modal fade" id="partialModal2">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Invoices Data For Student</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@section scripts{
    <script>
        var ConfirmDelete = function (EmployeeId) {
            $("#hiddenId").val(EmployeeId);
            $("#partialModal").modal('show');

        }

        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["excel", "pdf", "print"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
        $(document).ready(function () {
            $("#btnSearch").click(function (e) {
                //Serialize the form datas.
                var valdata = $("#FillterData").serialize();
                //var StdCode = $("#StdCode").val();
                //to get alert popup
                alert(valdata);
                $.ajax({
                    url: "/StudentClothes/UniformReportResult",
                    type: "POST",
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    data: {
                        searchText: valdata,
                        //Code: StdCode
                    },
                    success: function (result) {
                        document.open();
                        document.write(result);
                        document.close();
                    }, error: function (request, status, error) {
                        console.log(request.responseText)
                        alert(request.responseText);

                    }
                });
            });
        });



        $("#example1 .details").click(function () {
            var customerId = $(this).closest("tr").find("td").eq(0).html();
            $.ajax({
                type: "POST",
                url: "/StudentClothes/Details",
                data: '{customerId: "' + customerId + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#partialModal").find(".modal-body").html(response);
                    $("#partialModal").modal('show');
                },
                failure: function (response) {
                    console.log(response.responseText);
                },
                error: function (response) {
                    console.log(response.responseText);
                }
            });
        });

        $("#example1 .details2").click(function () {
            var customerId2 = $(this).closest("tr").find("td").eq(0).html();
            $.ajax({
                type: "POST",
                url: "/StudentClothes/DetailsReceipt",
                data: '{customerId: "' + customerId2 + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#partialModal2").find(".modal-body").html(response);
                    $("#partialModal2").modal('show');
                },
                failure: function (response) {
                    console.log(response.responseText);
                },
                error: function (response) {
                    console.log(response.responseText);
                }
            });
        });


    </script>
}



