@model StudentsAffairsDashboard.Models.StudentsMain

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>StudentsMain</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StdNID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdNID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdNationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdNationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdJoinYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdJoinYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdStaffSon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdStaffSon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdLegalGuardianship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdLegalGuardianship)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdParentsSeparated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdParentsSeparated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Class.ClassName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class.ClassName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NESSchool.SchoolName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NESSchool.SchoolName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentAccount.StdEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentAccount.StdEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentsAffair.StdFatherMobilePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentsAffair.StdFatherMobilePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentsData.StdArabicFristName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentsData.StdArabicFristName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
