@model IEnumerable<StudentsAffairsDashboard.Models.StudentsMain>

@{
    ViewBag.Title = "Index";
}
<!-- Main content -->
<section class="content">    
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Students Data</h3>
            <h3 class="card-title float-right">@Html.ActionLink("Create New", "CreateQuick", null, new { @class = "btn btn-primary btn-sm m-1" })</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>NID</th>
                        <th>Full Name</th>
                        @if (Session["UserName"].ToString().Contains("Admin NES"))
                        {
                            <th>Family Data</th>
                            <th>Contact</th>
                        }
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align: center; vertical-align: middle;">@Html.DisplayFor(modelItem => item.StdNID)</td>
                            <td style="vertical-align: middle;">
                                <a>
                                    @Html.DisplayFor(modelItem => item.StdEnglishFristName) @Html.DisplayFor(modelItem => item.StdEnglishMiddleName) @Html.DisplayFor(modelItem => item.StdEnglishLastName) @Html.DisplayFor(modelItem => item.StdEnglishFamilyName)
                                </a>
                                <br />
                                <small>
                                    NES @Html.DisplayFor(modelItem => item.NESSchool.SchoolName) @item.StudentGradesHistories.Select(a => a.Grade.GradeName).LastOrDefault().Replace(" ", "-")  @Html.DisplayFor(modelItem => item.Class.ClassName).ToString().Replace(" ", "-") (@item.StudentGradesHistories.Select(a => a.KindBatch).LastOrDefault())
                                </small>
                            </td>
                            @if (Session["UserName"].ToString().Contains("Admin NES"))
                            {
                                <td style="text-align: center; vertical-align: middle;">
                                    <a>Father NID : @Html.DisplayFor(modelItem => item.StdFatherNID)</a>
                                    <br />
                                    <a>Mother NID : @Html.DisplayFor(modelItem => item.StdMotherNID)</a>
                                    <br />
                                    <a>Mother Name: @Html.DisplayFor(modelItem => item.StdMotherEnglishName)</a>
                                </td>
                                <td style="text-align: center; vertical-align: middle;">
                                    <a>Father Phone : @Html.DisplayFor(modelItem => item.StdFatherMobilePhone)</a>
                                    <br />
                                    <a>Mother Phone : @Html.DisplayFor(modelItem => item.StdMotherMobilePhone)</a>
                                    <br />
                                    <a>Father Email : @Html.DisplayFor(modelItem => item.StdFatherEmail)</a>
                                    <br />
                                    <a>Mother Email : @Html.DisplayFor(modelItem => item.StdMotherEmail)</a>
                                </td>
                            }

                            <td style="text-align: center; vertical-align: middle;">
                                @if (Session["UserName"].ToString().Contains("Affairs"))
                                {
                                    @Html.ActionLink("Update Grade", "Update", new { id = item.StdCode }, new { @class = "btn btn-primary btn-sm m-1" })
                                }
                                else if (Session["UserName"].ToString().Contains("Admin NES"))
                                {
                                    @Html.ActionLink("Update Grade", "Update", new { id = item.StdCode }, new { @class = "btn btn-primary btn-sm m-1" })
                                    <br />
                                    @Html.ActionLink("View Profile", "Details", new { id = item.StdCode }, new { @class = "btn btn-primary btn-sm m-1" })
                                    <br />
                                    @Html.ActionLink("Edit", "Edit", new { id = item.StdCode }, new { @class = "btn btn-info btn-sm m-1" })
                                    <br />
                                    <a href="#" class="btn btn-danger btn-sm m-1" onclick="ConfirmDelete(@item.StdCode)"><i class="glyphicon glyphicon-trash"></i>Delete</a>
                                }
                            </td>

                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>NID</th>
                        <th>Full Name</th>
                        @if (Session["UserName"].ToString().Contains("Admin NES"))
                        {
                            <th>Family Data</th>
                            <th>Contact</th>
                        }
                        <th>Actions</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>

<div class="modal fade" id="modal-danger">
    @using (Html.BeginForm("DeleteStudent", "StudentsMains", FormMethod.Post))
    {
        <div class="modal-dialog">
            <div class="modal-content bg-danger">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Uniform</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are You Sure To Delete This Student</p>
                    @*hidden field for storing current employeeId*@
                    <input type="hidden" id="hiddenId" name="hiddenId" />
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-light">Delete</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    }
</div>

@section scripts{
    <script>
        var ConfirmDelete = function (EmployeeId) {
            $("#hiddenId").val(EmployeeId);
            $("#modal-danger").modal('show');
        }

        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false, "paging": true,
                "ordering": true,
                "info": true,
                "buttons": ["excel", "pdf", "print"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });

        //$("#example1 .details").click(function () {
        //    var customerId = $(this).closest("tr").find("td").eq(0).html();
        //    $.ajax({
        //        type: "POST",
        //        url: "/StudentClothes/Details",
        //        data: '{customerId: "' + customerId + '" }',
        //        contentType: "application/json; charset=utf-8",
        //        dataType: "html",
        //        success: function (response) {
        //            $("#partialModal").find(".modal-body").html(response);
        //            $("#partialModal").modal('show');
        //        },
        //        failure: function (response) {
        //            console.log(response.responseText);
        //        },
        //        error: function (response) {
        //            console.log(response.responseText);
        //        }
        //    });
        //});

        //$("#example1 .Receipt").click(function () {
        //    var customerId = $(this).closest("tr").find("td").eq(0).html();
        //    $.ajax({
        //        type: "POST",
        //        url: "/StudentClothes/DetailsReceipt",
        //        data: '{customerId: "' + customerId + '" }',
        //        contentType: "application/json; charset=utf-8",
        //        dataType: "html",
        //        success: function (response) {
        //            $("#partialModal2").find(".modal-body").html(response);
        //            $("#partialModal2").modal('show');
        //        },
        //        failure: function (response) {
        //            console.log(response.responseText);
        //        },
        //        error: function (response) {
        //            console.log(response.responseText);
        //        }
        //    });
        //});
    </script>
}

