@model StudentsAffairsDashboard.Models.StudentsMainCustom

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>StudentsMainCustom</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StdArabicFristName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdArabicFristName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdArabicMiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdArabicMiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdArabicLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdArabicLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdArabicFamilyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdArabicFamilyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdEnglishFristName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdEnglishFristName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdEnglishMiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdEnglishMiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdEnglishLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdEnglishLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdEnglishFamilyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdEnglishFamilyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdMotherArabicName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdMotherArabicName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdMotherEnglishName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdMotherEnglishName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdFatherMobilePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdFatherMobilePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdMotherMobilePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdMotherMobilePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdFatherEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdFatherEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdMotherEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdMotherEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdFatherNationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdFatherNationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdMotherNationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdMotherNationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdFatherSpokenLanguage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdFatherSpokenLanguage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdMotherSpokenLanguage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdMotherSpokenLanguage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdFatherJob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdFatherJob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdMotherJob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdMotherJob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdFatherQualification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdFatherQualification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdMotherQualification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdMotherQualification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdStudentsAffairs1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdStudentsAffairs1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdStudentsAffairs2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdStudentsAffairs2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdBirthCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdBirthCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdAddressGov)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdAddressGov)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdEmergencyContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdEmergencyContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdEmergencyPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdEmergencyPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdBOD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdBOD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdBirthPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdBirthPlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdGender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdGender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdReligion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdReligion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdFatherNID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdFatherNID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdMotherNID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdMotherNID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdNID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdNID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdSchoolID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdSchoolID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdClassID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdClassID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdNationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdNationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdJoinYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdJoinYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdStaffSon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdStaffSon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdLegalGuardianship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdLegalGuardianship)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StdParentsSeparated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StdParentsSeparated)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
