<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>NES - SMS</title>
        <link href="@Url.Content("~/Content/AdminLTE/adminlte.min.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Plugins/fontawesome-free/css/all.min.css")" rel="stylesheet" />
        <link href="~/Content/DataTable/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
        <link href="~/Content/DataTable/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
        <link href="~/Content/DataTable/datatables-buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body class="hold-transition sidebar-mini">
        <div class="wrapper">
            @Html.Partial("_NavBar")
            @Html.Partial("_SideBar")
            <div class="content-wrapper">
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1>NES</h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                                </ol>
                            </div>
                        </div>
                    </div><!-- /.container-fluid -->
                </section>
                @RenderBody()
            </div>
            <aside class="control-sidebar control-sidebar-dark">
                <!-- Control sidebar content goes here -->
                <div class="p-3">
                    <h5>Title</h5>
                    <p>Sidebar content</p>
                </div>
            </aside>
            <!-- /.control-sidebar -->
            <!-- Main Footer -->
            <footer class="main-footer">
                <!-- To the right -->
                <div class="float-right d-none d-sm-inline">
                    <a href="@Url.Action("Login","Home")" class="btn btn-danger btn-sm">Logout</a>
                </div>
                <!-- Default to the left -->
                <strong>Copyright &copy; 2022 </strong> All rights reserved NES.
            </footer>
        </div>
        @Scripts.Render("~/bundles/jquery")
        <script src="@Url.Content("~/Plugins/bootstrap/js/bootstrap.bundle.min.js")"></script>
        <script src="@Url.Content("~/Scripts/AdminLTE/adminlte.min.js")"></script>
        <script src="~/Content/DataTable/datatables/jquery.dataTables.min.js"></script>
        <script src="~/Content/DataTable/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
        <script src="~/Content/DataTable/datatables-responsive/js/dataTables.responsive.min.js"></script>
        <script src="~/Content/DataTable/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
        <script src="~/Content/DataTable/datatables-buttons/js/dataTables.buttons.min.js"></script>
        <script src="~/Content/DataTable/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
        <script src="~/Content/DataTable/jszip/jszip.min.js"></script>
        <script src="~/Content/DataTable/pdfmake/pdfmake.min.js"></script>
        <script src="~/Content/DataTable/pdfmake/vfs_fonts.js"></script>
        <script src="~/Content/DataTable/datatables-buttons/js/buttons.html5.min.js"></script>
        <script src="~/Content/DataTable/datatables-buttons/js/buttons.print.min.js"></script>
        <script src="~/Content/DataTable/datatables-buttons/js/buttons.colVis.min.js"></script>

        @RenderSection("scripts", required: false)
    </body>
</html>
